@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?j37teb');
  src:  url('fonts/icomoon.eot?j37teb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?j37teb') format('truetype'),
    url('fonts/icomoon.woff?j37teb') format('woff'),
    url('fonts/icomoon.svg?j37teb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tiktok:before {
  content: "\e900";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-history:before {
  content: "\e94d";
}
.icon-leaf:before {
  content: "\e9a4";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-facebook:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-telegram:before {
  content: "\ea95";
}
