@use "variables" as *;

@mixin onTabletAndUp {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin onBigTabletAndUp {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin onLaptopAndUp {
  @media (min-width: 1240px) {
    @content;
  }
}

@mixin onDesktopAndUp {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin hover-supported {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

@mixin exceptLastChild {
  &:not(:last-child) {
    @content;
  }
}

@mixin onlyLastChild {
  &:last-child {
    @content;
  }
}

@mixin before {
  &::before {
    content: '';
    @content;
  }
}

@mixin after {
  &::after {
    content: '';
    @content;
  }
}

@mixin onHover {
  &:hover {
    @content;
  }
}

@mixin onActive {
  &:active {
    @content;
  }
}

@mixin titleMain {
  font-size: $text-36;
  font-weight: $fontWeightSemiBold;
  line-height: $lineHeightAdditional;

  color: $colorTextPrimary;

  @include onTabletAndUp {
    font-size: $text-44;
  }

  @include onLaptopAndUp {
    font-size: $text-48;
  }
}

@mixin titleSmall {
  font-size: $text-24;
  font-weight: $fontWeightSemiBold;

  color: $colorTextPrimary;

  @include onTabletAndUp {
    font-size: $text-32;
  }
}

@mixin before-new-badge {
  &::before {
    content: "Новинка";

    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
    z-index: 5;

    padding: 0.35rem 0.6rem;
    border-radius: 0.5rem;

    font-size: $text-14;
    font-weight: $fontWeightSemiBold;
    line-height: 1;

    color: $colorWhite;
    background-color: $colorPrimary;

    pointer-events: none;
  }
}