$backgroundPrimary: #FCFAF6;
$colorSurface: #E0D3A8 ;
$colorSecondary: #B3B49C;
$colorPrimary: #6F745B;
$colorTextPrimary: #4F553F;
$colorAccent: #7B4A32;
$colorWhite: #FFFFFF;
$colorBlack: #000000;

$text-14: 0.875rem;
$text-16: 1rem;
$text-18: 1.125rem;
$text-20: 1.25rem;
$text-22: 1.375rem;
$text-24: 1.5rem;
$text-28: 1.75rem;
$text-30: 1.875rem;
$text-32: 2rem;
$text-36: 2.25rem;
$text-40: 2.5rem;
$text-44: 2.75rem;
$text-48: 3rem;
$text-50: 3.125rem;
$text-52: 3.25rem;
$text-64: 4rem;

$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;

$lineHeightRegular: 1.5;
$lineHeightAdditional: 1.3;

$transitionDuration: 0.3s;
$transformScale: scale(1.1);