@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.product-detail {
  &__wrapper {
    padding: 1rem 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include onTabletAndUp {
      padding: 2rem 0 2.5rem;
    }
  }

  &__container {
    max-width: 2500px;
    width: 100%;

    margin: 0 auto;
    padding: 0 1rem;

    @include onBigTabletAndUp {
      padding: 0 2rem;
    }
  }

  &__block {
    display: grid;
    grid-template-columns: minmax(300px, 1fr);
    gap: 1rem;

    @include onTabletAndUp {
      grid-template-columns: repeat(2, minmax(300px, 1fr));
      gap: 2.5rem;
    }
  }

  &__main-image {
    aspect-ratio: 4 / 5;

    width: 100%;
    margin-inline: auto;
    border-radius: 0.7rem;

    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      display: block;

      object-fit: cover;
      object-position: center;

      -webkit-user-select: none;
    }
  }

  &__thumbnails {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.75rem;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;

    padding-bottom: 0.25rem;

    &::-webkit-scrollbar {
      display: none;
    }

    @include onTabletAndUp {
      margin-top: 1rem;
      gap: 0.75rem;
    }
  }

  &__thumb {
    position: relative;

    flex: 0 0 auto;
    scroll-snap-align: start;

    padding: 0;

    border-radius: 0.5rem;
    overflow: hidden;

    &.is-active {
      pointer-events: none;

      &::after {
        content: "";
        position: absolute;
        inset: 0;

        background: rgb(255, 255, 255, 0.7);
      }
    }

    img {
      width: clamp(112px, 28vw, 150px);
      aspect-ratio: 4 / 5;
      height: auto;

      object-fit: cover;
      display: block;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include onTabletAndUp {
      gap: 2.3rem;
    }
  }
}

.detail-info {
  &__header {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;

    @include onTabletAndUp {
      gap: 1rem;
    }
  }

  &__title {
    @include titleMain;
    font-weight: $fontWeightBold;
    line-height: 1;
  }

  &__subtitle {
    font-size: $text-16;

    @include onTabletAndUp {
      font-size: $text-18;
    }

    @include onLaptopAndUp {
      font-size: $text-20;
    }
  }

  &__description {
    line-height: 1;
    white-space: pre-line;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include onTabletAndUp {
      gap: 1.2rem;
    }
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
}

.colors {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;


  &__title {
    font-size: $text-20;
    font-weight: $fontWeightSemiBold;
    text-transform: capitalize;
  }

  &__block {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    flex-wrap: wrap;
  }

  &__dot {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);

    cursor: pointer;

    @include onBigTabletAndUp {
      width: 2rem;
      height: 2rem;
    }

    &.is-active {
      box-shadow: 0 0 0 2px $colorPrimary;
      transform: scale(1.05);
    }
  }
}