{% load static %}
{% load vite_tags %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="keywords"
          content="gnizdechko, українські павуки, традиційні павуки, вінки, українські вінки, крашані яйця, писанки, етно декор, народні традиції, ручна робота, українська культура">
    <meta name="author" content="Gnizdechko">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Caveat:wght@400;500;600;700&display=swap"
            rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'icomoon/icons.css' %}">
    {% vite_css 'src/js/index.js' %}

    <title>Gnizde.4ko</title>
</head>
<body>
<div class="wrapper">
    <header id="header" class="header">
        <div class="container">
            <div class="header__wrapper">
                <a href="{%url 'home'%}" class="logo" aria-label="На головну">
                    <div class="logo__image">
                        <img src="{%static 'images/header/logo.svg'%}" alt="Лого Гніздечко">
                    </div>
                    <p class="logo__text">Gnizde.4ko</p>
                </a>

                <nav class="nav nav-header">
                    <div class="nav-header__wrapper">
                        <div class="nav-header__images">
                            <div class="nav-header__image nav-header__image--bg">
                                <img src="{%static 'images/header/card.jpeg'%}" alt="Листівка" aria-hidden="true">
                            </div>

                            <div class="nav-header__image nav-header__image--main">
                                <img src="{%static 'images/header/card_2.webp'%}" alt="Листівка" aria-hidden="true">
                            </div>
                        </div>

                        <ul class="nav-header__list">
                            <li class="nav-header__item {% if request.resolver_match.url_name == 'home'%}nav-header__item--is-active{% endif %}">
                                <a href="{%url 'home'%}" class="nav-header__link">Головна</a>
                            </li>

                            {% if has_new_products %}
                            <li class="nav-header__item {% if request.resolver_match.url_name == 'products-new' %}nav-header__item--is-active{% endif %}">
                                <a href="{% url 'products-new' %}" class="nav-header__link">Новинки</a>
                            </li>
                            {% endif %}
                            {% for category in all_categories %}
                            <li class="nav-header__item {% if request.resolver_match.kwargs.slug == category.slug %}nav-header__item--is-active{% endif %}">
                                <a href="{% url 'products-category' category.slug %}" class="nav-header__link">
                                    {{ category.name }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </nav>

                <div class="header__cart">
                    <div class="cart">
                        <img src="{% static 'images/header/cart.svg'%}" alt="Корзина">

                        {% if cart_total_qty %}
                        <span class="cart__badge" data-cart-badge>{{ cart_display_qty }}</span>
                        {% endif %}
                    </div>

                    <div class="cart__block" data-cart-block>
                        {% include "cart/cart_block.html" %}
                    </div>

                    <div class="burger" aria-label="Open menu" aria-expanded="false" aria-controls="mobileMenu">
                        <div class="burger__wrapper">
                            <div class="burger__item"></div>

                            <div class="burger__item"></div>

                            <div class="burger__item"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="main" class="main mask">
        {% block content %}{% endblock %}
    </div>

    <footer id="footer" class="footer mask">
        <div class="container">
            <div class="footer__wrapper">
                <div class="footer__top">
                    <div class="footer__block footer__block--flex">
                        <a href="{%url 'home'%}" class="logo logo--footer" aria-label="На головну">
                            <div class="logo__image">
                                <img src="{%static 'images/header/logo.svg'%}" alt="Лого Гніздечко">
                            </div>
                            <p class="logo__text">Gnizde.4ko</p>
                        </a>

                        <div class="socials">
                            <span class="footer__icon icon icon-tiktok"></span>

                            <span class="footer__icon icon icon-facebook"></span>

                            <span class="footer__icon icon icon-instagram"></span>

                            <span class="footer__icon icon icon-telegram"></span>
                        </div>
                    </div>

                    <div class="footer__nav">
                        <div class="footer__block">
                            <h4 class="footer__title">Інформація</h4>

                            <ul class="footer__list">
                                <li class="footer__item">
                                    <a href="{%url 'delivery-payment'%}" class="footer__link">Доставка та оплата</a>
                                </li>
                                <li class="footer__item">
                                    <a href="" class="footer__link">Договір оферти</a>
                                </li>
                            </ul>
                        </div>

                        <div class="footer__block">
                            <h4 class="footer__title">Контакти</h4>

                            <ul class="footer__list">
                                <li class="footer__item">
                                    <a href="" class="footer__link">+38 (099) 406 10 83</a>
                                </li>
                                <li class="footer__item">
                                    <a href="" class="footer__link">katya.stelmakhova@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer_bottom">
            <p>© 2026 Gnizde.4ko</p>
        </div>
    </footer>
</div>


{% if DEBUG %}
  <script type="module" src="http://localhost:5173/src/js/index.js"></script>
{% else %}
  <script type="module" src="{% vite_js 'src/js/index.js' %}"></script>
{% endif %}

<script>
  console.log('BASE HTML LOADED');
</script>

<div class="snackbar" id="snackbar" aria-live="polite" aria-atomic="true">
    <span class="snackbar__text" id="snackbarText"></span>
</div>
</body>
</html>