{% extends "gnizdechko_app/base.html" %}
{% load static %}
{% block content %}
<!--<section class="hero">-->
<!--    <div class="hero__wrapper">-->
<!--        <div class="hero__image">-->
<!--            <img src="{%static 'images/hero/hero.jpg'%}" alt="Український святковий стіл">-->
<!--        </div>-->

<!--        <div class="hero__block">-->
<!--            <p class="hero__moto">" Свій до свого по своє "</p>-->

<!--            <h5 class="hero__subtitle">Душевна оздоба твоєї оселі "Gnizde.4ko"</h5>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

{%if special_products%}
<section class="special-products">
    <div class="container">
        <div class="special-products__wrapper">
            <div class="swiper swiper-special">
                <div class="swiper-wrapper">
                    {%for product in special_products%}
                    <div class="swiper-slide">
                        <div class="home-grid home-grid--special">
                            <a href="{% url 'products-category' product.main_category.slug %}" class="home-grid__item">
                                <div class="home-grid__container" data-label="{{ product.title }}">
                                    <img src="{{ product.main_image.url }}" alt="{{ product.title }}">
                                </div>
                            </a>
                        </div>
                    </div>
                    {%endfor%}
                    {%if has_new_products%}
                    <div class="swiper-slide">
                        <div class="home-grid home-grid--special">
                            <a href="{% url 'products-new' %}" class="home-grid__item">
                                <div class="home-grid__container" data-label="Новинки">
                                    <img src="{%static 'images/hero/hero.jpg'%}" alt="Новинки">
                                </div>
                            </a>
                        </div>
                    </div>
                    {%endif%}
                </div>

                <div class="swiper-pagination"></div>
            </div>

            <div class="swiper-pagination-special"></div>
        </div>
    </div>
</section>
{%endif%}

<!--{%if has_new_products%}-->
<!--<section class="new-products products-list">-->
<!--    <div class="container">-->
<!--        <div class="new-products__wrapper">-->
<!--            <h2 class="new-products__title">Новинки</h2>-->
<!--            <div class="swiper swiper-new">-->
<!--                <div class="swiper-wrapper">-->
<!--                    {%for product in new_products%}-->
<!--                    <div class="swiper-slide">-->
<!--                        <div class="products-list__card {% if product.is_new %}products-list__card&#45;&#45;new{% endif %}">-->
<!--                            <a href="{% url 'product-detail' product.id%}" class="products-list__image">-->
<!--                                <img src="{{ product.main_image.url }}" alt="{{ product.title }}">-->
<!--                            </a>-->

<!--                            <h4 class="products-list__title">-->
<!--                            <span class="product-card__title-text">-->
<!--                                {{product.title}}-->
<!--                            </span>-->
<!--                            </h4>-->

<!--                            <div class="products-details products-details__prices">-->
<!--                                {%if product.sale_price%}-->
<!--                                <p class="products-details__sale">{{ product.sale_price }}₴</p>-->
<!--                                {%endif%}-->

<!--                                <p class="products-details__price {% if product.sale_price %}products-details__price&#45;&#45;old{% endif %}">-->
<!--                                    {{ product.price }}₴</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    {%endfor%}-->
<!--                </div>-->

<!--                <div class="swiper-pagination"></div>-->
<!--            </div>-->

<!--            <div class="swiper-pagination-new"></div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<!--{%endif%}-->

{%if all_categories%}
<section class="products-home">
    <div class="products-home__wrapper">
        <h2 class="products-home__title">Наші товари</h2>
        <div class="home-grid">
            <div class="home-grid__wrapper">
                {% for cat in all_categories %}
                <a href="{% url 'products-category' cat.slug %}" class="home-grid__item">
                    <div class="home-grid__container" data-label="{{ cat.name|default:'' }}">
                        <img src="{{ cat.main_image.url }}" alt="Секція {{ cat.name }}">
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{%endif%}

<section class="features">
    <div class="container">
        <div class="features__wrapper">
            <h2 class="features__title">Наші переваги</h2>

            <div class="features__grid">
                <div class="features__block">
                    <span class="features__icon icon icon-history"></span>

                    <p class="features__text">Засновано у 2016 року</p>
                </div>

                <div class="features__block">
                    <span class="features__icon icon icon-leaf"></span>

                    <p class="features__text">Лише природні складники</p>
                </div>

                <div class="features__block">
                    <span class="features__icon icon icon-earth"></span>

                    <p class="features__text">Доставка в будь-яку країну</p>
                </div>

                <div class="features__block">
                    <span class="features__icon icon icon-heart"></span>

                    <p class="features__text">Вироби під замовлення</p>
                </div>

                <div class="features__block">
                    <span class="features__icon icon icon-price-tags"></span>

                    <p class="features__text">Опт та вигідні умови</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-us">
    <div class="about-us__wrapper">
        <h2 class="about-us__title">Про нас</h2>

        <div class="swiper swiper-about">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="about-us-card">
                        <div class="about-us-card__wrapper">
                            <div class="about-us-card__grid about-us-card__grid--four-images">
                                <div class="about-us-card__image">
                                    <img src="{%static 'images/about-us/about_us_first2_1000.webp'%}" alt="">
                                </div>

                                <div class="about-us-card__image">
                                    <img src="{%static 'images/about-us/about_us_first1_1000.webp'%}" alt="">
                                </div>

                                <div class="about-us-card__image">
                                    <img src="{%static 'images/about-us/about_us_first3.webp'%}" alt="">
                                </div>

                                <div class="about-us-card__image">
                                    <img src="{%static 'images/about-us/about_us_first4.webp'%}" alt="">
                                </div>
                            </div>

                            <p class="about-us-card__text">Ми — родина з Сумщини, яку об’єднує любов до села і
                                землі.</p>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="about-us-card">
                        <div class="about-us-card__wrapper">
                            <div class="about-us-card__grid about-us-card__grid--three-images">
                                <div class="about-us-card__image">
                                    <img src="{%static 'images/about-us/about_us_second1.webp'%}" alt="">
                                </div>

                                <div class="about-us-card__image">
                                    <img src="{%static 'images/about-us/about_us_second2_1000.webp'%}" alt="">
                                </div>

                                <div class="about-us-card__image">
                                    <img src="{%static 'images/about-us/about_us_second3_1000.webp'%}" alt="">
                                </div>
                            </div>

                            <p class="about-us-card__text">Разом з татом і мамою ми вирощуємо злакові, сіно, добуваємо
                                рогіз з боліт, тримаємо птицю і працюємо з тим, що дає нам природа.</p>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="about-us-card">
                        <div class="about-us-card__wrapper">
                            <div class="about-us-card__grid about-us-card__grid--five-images">
                                <div class="about-us-card__image">
                                    <img src="{%static 'images/about-us/about_us_third2.webp'%}" alt="">
                                </div>

                                <div class="about-us-card__image">
                                    <img src="{%static 'images/about-us/about_us_third1.webp'%}" alt="">
                                </div>

                                <div class="about-us-card__image">
                                    <img src="{%static 'images/about-us/about_us_third4_1000.webp'%}" alt="">
                                </div>

                                <div class="about-us-card__image">
                                    <img src="{%static 'images/about-us/about_us_third3_1000.webp'%}" alt="">
                                </div>

                                <div class="about-us-card__image">
                                    <img src="{%static 'images/about-us/about_us_third5.webp'%}" alt="">
                                </div>
                            </div>

                            <p class="about-us-card__text">Із соломи та сіна народжуються наші солом’яні павуки й вінки,
                                а яєчну шкаралупу від власної птиці ми використовуємо для
                                створення вінків та розпису до Великодня.</p>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="about-us-card">
                        <div class="about-us-card__wrapper">
                            <div class="about-us-card__grid about-us-card__grid--solo">
                                <div class="about-us-card__image">
                                    <img src="{%static 'images/about-us/about_us_forth.webp'%}" alt="">
                                </div>
                            </div>

                            <p class="about-us-card__text">Для нас злакові мають особливе значення — жовта смуга прапора
                                України символізує зерно й хліб, основу життя і витривалості.</p>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="about-us-card">
                        <div class="about-us-card__wrapper">
                            <div class="about-us-card__grid about-us-card__grid--solo">
                                <div class="about-us-card__image">
                                    <img src="{%static 'images/about-us/about_us_fifth_1000.webp'%}" alt="">
                                </div>
                            </div>

                            <p class="about-us-card__text">Війна показала, наскільки важливо мати живі села — місця, де
                                є земля, їжа, праця і пам’ять.</p>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="about-us-card">
                        <div class="about-us-card__wrapper">
                            <div class="about-us-card__grid about-us-card__grid--two-images">
                                <div class="about-us-card__image">
                                    <img src="{%static 'images/about-us/about_us_fifth1.webp'%}" alt="">
                                </div>

                                <div class="about-us-card__image">
                                    <img src="{%static 'images/about-us/about_us_fifth2.webp'%}" alt="">
                                </div>
                            </div>

                            <p class="about-us-card__text">Своїми виробами ми хочемо нагадати: навіть занедбані села
                                можуть знову ожити, якщо в них повертається життя і любов.</p>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="about-us-card">
                        <div class="about-us-card__wrapper">
                            <div class="about-us-card__grid about-us-card__grid--solo">
                                <div class="about-us-card__image">
                                    <img src="{%static 'images/about-us/about_us_sixth.webp'%}" alt="">
                                </div>
                            </div>

                            <p class="about-us-card__text">Війна показала, наскільки важливо мати живі села — місця, де
                                є земля, їжа, праця і пам’ять.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        <div class="swiper-pagination-about"></div>
    </div>
</section>
{% endblock content %}