{% extends "gnizdechko_app/base.html" %}
{% load static %}
{% block content %}
<!--products category-->
<section class="products">
    <div class="container">
        <div class="products__wrapper">
            <div class="breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="{%url 'home'%}" class="breadcrumbs__link">Головна</a>
                    </li>

                    <li>
                        <span class="breadcrumbs__icons">>></span>
                    </li>

                    <li class="breadcrumbs__item breadcrumbs__item--current">
                        {%if category%}
                        {{category}}
                        {%else%}
                        Всі товари
                        {%endif%}
                    </li>
                </ul>
            </div>

            <h2 class="title">{{category}}</h2>

            <div class="products-filters">
                <div class="products-filters__left">
                    <form method="get" class="products-filters__search" data-products-search-form>
                        <span class="visually-hidden">Пошук</span>

                        <input
                                type="search"
                                class="products-filters__search-input"
                                placeholder="Пошук товарів…"
                                autocomplete="off"
                                name="q"
                                value="{{ request.GET.q|default_if_none:'' }}"
                                data-products-search
                        >
                    </form>
                </div>

                <div class="products-filters__right" data-products-filters-right>
                    <!-- тут потім будуть фільтри -->
                </div>
            </div>

            <div class="products__list products-list">
                <div class="products-list__wrapper">
                    <div class="products-list__grid">
                        {%for product in products%}
                        <div
                                class="products-list__card {% if product.is_new %}products-list__card--new{% endif %}"
                                data-product-card
                                data-title="{{ product.title|escape }}"
                        >
                            <a href="{% url 'product-detail' product.id%}?cat={{ category.slug }}" class="products-list__image">
                                <img src="{{ product.main_image.url }}" alt="{{ product.title }}">
                            </a>

                            <h4 class="products-list__title">
                            <span class="product-card__title-text">
                                {{product.title}}
                            </span>
                            </h4>

                            <div class="products-details products-details__prices">
                                {%if product.sale_price%}
                                <p class="products-details__sale">{{ product.sale_price }}₴</p>
                                {%endif%}

                                <p class="products-details__price {% if product.sale_price %}products-details__price--old{% endif %}">
                                    {{ product.price }}₴</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <p
                            class="products__empty"
                            data-products-empty
                            {% if products %}hidden{% endif %}
                    >
                        Нічого не знайдено
                    </p>

                    {% if page_obj.has_next and page_obj.object_list %}
                    <button class="products-list__more" data-next-page="{{ page_obj.next_page_number }}">
                        Показати ще
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}