{% extends "gnizdechko_app/base.html" %}
{% load static %}
{% block content %}
<!--#object-->
<section class="product-detail">
    <div class="container">
        <div class="product-detail__wrapper">
            <div class="breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="{%url 'home'%}" class="breadcrumbs__link">Головна</a>
                    </li>

                    <li>
                        <span class="breadcrumbs__icons">>></span>
                    </li>

                    <li class="breadcrumbs__item">
                        <a href="{% url 'products-category' breadcrumb_category.slug %}" class="breadcrumbs__link">
                            {{ breadcrumb_category.name }}
                        </a>
                    </li>

                    <li>
                        <span class="breadcrumbs__icons">>></span>
                    </li>

                    <li class="breadcrumbs__item breadcrumbs__item--current">
                        {{object}}
                    </li>
                </ul>
            </div>

            <div class="product-detail__block">
                <div class="product-detail__images">
                    <div class="product-detail__main-image">
                        <img
                                id="product-main-image"
                                src="{{ object.main_image_webp_md.url }}"
                                srcset="
    {{ object.main_image_webp_sm.url }} 360w,
    {{ object.main_image_webp_md.url }} 768w,
    {{ object.main_image_webp_lg.url }} 1024w
  "
                                sizes="(min-width: 767px) 50vw, 100vw"
                                alt="{{ object.title }}"
                                loading="lazy"
                                decoding="async"
                        >
                    </div>

                    <div class="product-detail__thumbnails">
                        <button
                                type="button"
                                class="product-detail__thumb is-active"
                                data-image-sm="{{ object.main_image_webp_sm.url }}"
                                data-image-md="{{ object.main_image_webp_md.url }}"
                                data-image-lg="{{ object.main_image_webp_lg.url }}"
                        >
                            <img
                                    src="{{ object.main_image_webp_sm.url }}"
                                    width="96"
                                    height="96"
                                    alt="{{ object.title }}"
                                    loading="lazy"
                                    decoding="async"
                            >
                        </button>

                        {% for image in object.images.all %}
                        <button
                                type="button"
                                class="product-detail__thumb"
                                data-image="{{ image.image_webp_lg.url }}"
                                data-image-sm="{{ image.image_webp_sm.url }}"
                                data-image-md="{{ image.image_webp_md.url }}"
                                data-image-lg="{{ image.image_webp_lg.url }}"
                        >
                            <img
                                    src="{{ image.image_webp_sm.url }}"
                                    srcset="
        {{ image.image_webp_sm.url }} 360w,
        {{ image.image_webp_md.url }} 768w,
        {{ image.image_webp_lg.url }} 1000w
      "
                                    sizes="96px"
                                    width="96"
                                    height="96"
                                    alt="{{ object.title }}"
                                    loading="lazy"
                                    decoding="async"
                            >
                        </button>
                        {% endfor %}
                    </div>
                </div>

                <div class="product-detail__info detail-info">
                    <div class="detail-info__header">
                        <h3 class="detail-info__title">{{object}}</h3>

                        {%if object.subtitle%}
                        <h5 class="detail-info__subtitle">{{object.subtitle}}</h5>
                        {%endif%}
                    </div>

                    <div class="detail-info__main">
                        <p class="detail-info__description">{{object.description}}</p>
                    </div>

                    <div class="detail-info__footer products-details" data-product-scope>
                        {% if object.colors.exists %}
                        <div class="detail-info__colors colors">
                            <h4 class="colors__title">Доступні кольори</h4>

                            <div class="colors__block" aria-label="Кольори">
                                {% for color in object.colors.all %}
                                <span
                                        class="colors__dot"
                                        data-color-id="{{ color.id }}"
                                        title="{{ color.name }}"
                                        aria-label="{{ color.name }}"
                                        style="background-color: {{ color.hex|default:'#d9d9d9' }};"
                                ></span>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}

                        <div class="products-details__prices">
                            {%if object.sale_price%}
                            <p class="products-details__sale products-details__sale--page">{{ object.sale_price }}₴</p>
                            {%endif%}

                            <p class="products-details__price products-details__price--page {% if object.sale_price %}products-details__price--old{% endif %}">
                                {{ object.price }}₴</p>
                        </div>

                        <div class="detail-info__block">
                            <div class="amount-container">
                                <button type="button" class="amount-container__button" data-action="decrease">
                                    <span>-</span>
                                </button>
                                <p class="amount-container__value">
                                    <span data-amount>1</span>
                                </p>
                                <button type="button" class="amount-container__button" data-action="increase">
                                    <span>+</span>
                                </button>
                            </div>

                            <button type="button" class="detail-info__add button" data-add-to-cart
                                    data-product-id="{{ object.id }}">Додати в кошик
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}